* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background: rgba(230, 230, 230, 0.267);
  color: #fff;
  padding-top: 95px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 80px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'montserrat', sans-serif;
  font-size: 2vw;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.6vw;
  }
}
